.container{
    background-color: #808080;
}

.header{
    text-align: center;
    word-spacing: 10px;
}

input[type="text"],textarea{
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]{
    border: 1px solid #ccc;
    border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#808080;
    font-size: 10px;
    opacity: 1; /* Firefox */
  }
